* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #0b2434;
  display: grid;
  place-items: center;
}

main {
  background-color: white;
  width: 75vw;
  height: 75vh;
  max-width: 800px;
  max-height: 500px;
  border-radius: 1rem;
}
